<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="../fragments/header :: header"></head>
<body>
	<!-- navigation bar -->
	<div th:replace="../fragments/navbar :: navbar"></div>
	
	<!-- main content -->
	<div class="container-fluid" style="margin-top: 20px">
		<div class="row">

			<!-- side bar -->
			<div class="col-md-4">
				<div th:replace="../fragments/sidebar :: sidebar"></div>
			</div>

			<!-- content -->
			<div class="col-md-8">
				<h2 style="margin-top: 0px;">Search Results</h2>
				<div class="row">
					<div th:each="node: ${solutions.search.nodes}">
						<div class="col-md-6">
							<div th:replace="../fragments/summary :: short-summary"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
