<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="../fragments/header :: header"></head>
<body>
	<!-- navigation bar -->
	<div th:replace="../fragments/navbar :: navbar"></div>
	
	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
		<div class="container" th:utext="${text}"></div>
	</div>

	<!-- main content -->
	<div class="container-fluid">
		<div class="row">
			<!-- side bar -->
			<div class="col-md-3">
				<div th:replace="../fragments/sidebar :: sidebar"></div>
			</div>
			<!-- content -->
			<div class="col-md-9" id="main-view">
				<!-- featured solutions (max 3) -->
				<div th:if="${featured.featured.count>0}">
					<h2>Featured</h2>
					<div class="row" id="featured">
						<div th:each="node: ${featured.featured.nodes}" class="col-md-4">
							<div th:replace="../fragments/summary :: summary"></div>
						</div>
					</div>
				</div>
				<div th:if="${recent.recent.count>0}">
					<h2>Recently updated</h2>
					<div class="row" id="recently-updated">
						<div th:each="node: ${recent.recent.nodes}" class="col-md-4">
							<div th:replace="../fragments/summary :: short-summary"></div>
						</div>
					</div>
				</div>
				<div th:if="${featured.featured.count==0 and recent.recent.count==0}" 
					class="alert alert-warning" role="alert"><strong>Nothing to see here.</strong> Sign in and add some content!</div>
			</div>
		</div>
	</div>
	<div th:replace="../fragments/footer :: footer"></div>
</body>
</html>
