<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="../fragments/header :: header"></head>
<body>
	<!-- navigation bar -->
	<div th:replace="../fragments/navbar :: navbar"></div>
	
	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
		<div class="container" th:utext="${text}">
		<!-- 			
			<h1>DAWN Marketplace</h1>
			<p>This is a template for a simple marketing or informational
				website. It includes a large callout called a jumbotron and three
				supporting pieces of content. Use it as a starting point to create
				something more unique.</p>
			<p>
				<a class="btn btn-primary btn-lg" href="#" role="button">Learn
					more &raquo;</a>
			</p>
			 -->
		</div>
	</div>

	<!-- main content -->
	<div class="container-fluid">
		<div class="row">
			<!-- side bar -->
			<div class="col-md-4">
				<div th:replace="../fragments/sidebar :: sidebar"></div>
			</div>
			<!-- content -->
			<div class="col-md-8">
				<!-- featured solutions max 3-->
				<div class="row">
					<div th:each="node: ${featured.featured.nodes}">
						<div class="col-md-6">
							<div th:replace="../fragments/summary :: summary"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
