<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="../fragments/header :: header"></head>
<body>
	<!-- navigation bar -->
	<div th:replace="../fragments/navbar :: navbar"></div>
	
	<!-- main content -->
	<div class="container-fluid" style="margin-top: 20px">
		<div class="row">
			<!-- side bar -->
			<div class="col-md-3">
				<div th:replace="../fragments/sidebar :: sidebar"></div>
			</div>
			<!-- content -->
			<div class="col-md-9">
				<!-- featured solutions max 3-->
				<div class="row">
					<div th:utext="${text}">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="../fragments/footer :: footer"></div>
</body>
</html>
