<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:social="http://spring.io/springsocial">
<head th:replace="../fragments/header :: header"></head>
<body>
	<!-- navigation bar -->
	<div th:replace="../fragments/navbar :: navbar"></div>

	<!-- main content -->
	<div class="container-fluid" style="margin-top: 20px">
		<div class="row">
			<!-- side bar -->
			<div class="col-md-4">
				<div th:replace="../fragments/sidebar :: sidebar"></div>
			</div>
			<!-- content -->			
			<div class="col-md-8">
				<h2>Sign into the marketplace</h2>

				<form id="signin" th:action="@{/signin/authenticate}" method="post"
					class="form-horizontal">

					<input type="hidden" name="_csrf" th:value="${_csrf.token}"></input>

					<div class="form-group">
						<div class="error" th:if="${param.error eq 'bad_credentials'}">
							Your sign in information was incorrect. Please try again or <a
								th:href="@{/signup}">sign up</a>.
						</div>
						<div class="error" th:if="${param.error eq 'multiple_users'}">
							Multiple local accounts are connected to the provider account.
							Try again with a different provider or with your username and
							password.</div>
					</div>

					<div class="form-group">
						<label for="login" class="col-sm-2 control-label">User
							name</label>
						<div class="col-sm-10">
							<input id="login" class="form-control" autofocus="autofocus"
								required="required" name="username" type="text" size="25"></input>
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-sm-2 control-label">Password</label>
						<div class="col-sm-10">
							<input id="password" class="form-control" name="password"
								required="required" type="password" size="25"></input>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-primary">Sign in</button>
							Or you can <a th:href="@{/signup}">sign up</a> for a new
							account.
						</div>
					</div>
				</form>
				<div class="col-sm-offset-2 col-sm-10">
					<form id="tw_signin" th:action="@{/signin/twitter}" method="POST" style="width: 100px;display: inline-block;">
						<input type="hidden" name="_csrf" th:value="${_csrf.token}"></input>									
						<button class="ml btn btn-block btn-social btn-sm btn-twitter" type="submit">
							<i class="fa fa-twitter"></i>&nbsp;Twitter
						</button>
					</form>
					<form id="google_signin" th:action="@{/signin/google(scope='profile')}" method="POST" style="width: 100px;display: inline-block;">
						<input type="hidden" name="_csrf" th:value="${_csrf.token}"></input>
						<button class="ml btn btn-block btn-social btn-sm btn-google-plus" type="submit">
							<i class="fa fa-google-plus"></i>&nbsp;Google+
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
