<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="../fragments/header :: header"></head>
<body>
	<!-- navigation bar -->
	<div th:replace="../fragments/navbar :: navbar"></div>

	<!-- main content -->
	<div class="container-fluid" style="margin-top: 20px">
		<div class="row">

			<!-- side bar -->
			<div class="col-md-3">
				<div th:replace="../fragments/sidebar :: sidebar"></div>
			</div>

			<!-- content -->
			<div class="col-md-9" th:id="'solution-'+${content.node.id}">
				<h2 style="margin-top: 0px;">
					<span th:if="${content.node.image != null}">
						<img height="48px" th:src="${content.node.image}"></img>
					</span>
					<span th:text="${content.node.name}">
					</span>
				</h2>
				<img th:if="${content.node.screenshot != null}" class="img-responsive thumbnail" th:src="${content.node.screenshot}"></img>
				<p th:text="${content.node.shortdescription}"></p>
				<p th:utext="${content.node.body}"></p>
				<!-- categories and tags-->
				<!-- Not using categories yet
				<p>				
					<strong>Categories:</strong> <span th:each="category: ${content.node.categories.items}"
							class="label label-success" th:text="${category.name}"></span>
				</p>
				-->
				<!-- action menu -->
				<p style="font-size: 1.1em;">
					<a role="button" th:href="@{~/mpc/marketplace-client-intro(mpc_install=${content.node.id})}"
						data-toggle="tooltip" data-placement="top" title="Drag to install">
						<span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span>
					</a>
					<a role="button" th:href="${content.node.homepageurl}" 
						data-toggle="tooltip" data-placement="top" title="Go to home page">
						<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
					</a> 
					<a role="button" th:href="${content.node.supporturl}" 
						data-toggle="tooltip" data-placement="top" title="Go to support">
						<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
					</a>
					<a role="button" th:href="@{'/edit-solution/'+${content.node.id}}" th:if="${editable == true}" 
						data-toggle="tooltip" data-placement="top" title="Edit entry">
						<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
					</a>
					<span th:if="${null != content.node.tags}">
						<a  
						th:href="@{~/search(tag=${tag.name})}" 
						th:each="tag: ${content.node.tags.items}" 
						class="label label-info" th:text="${tag.name}"></a>
					</span>
				</p>
				<!-- additional details -->
				<div th:replace="../fragments/solution :: additional"></div>
			</div>
			
		</div> <!-- end row -->
	</div>
	<div th:replace="../fragments/footer :: footer"></div>
</body>
</html>