<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="/css/bootstrap.min.css"></link>
	<!-- Custom styles for this template -->
	<link href="/css/jumbotron.css" rel="stylesheet"></link>
	<!-- Optional theme -->
	<link rel="stylesheet" href="/css/bootstrap-theme.min.css"></link>
	<!-- Latest compiled and minified JavaScript -->
	<script src="/js/bootstrap.min.js"></script>	
	<title>DAWN Marketplace</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
</body>
</html>
