<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head></head>
<body>
	<div th:fragment="navbar">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">DAWN Marketplace</a>
				</div>
				<div class="navbar-form navbar-right">
					<a th:href="@{/signin}" sec:authorize="!isAuthenticated()" class="btn btn-default">Sign In</a>
				</div>
				<form class="navbar-form navbar-right" method="POST" th:action="@{/signout}" sec:authorize="isAuthenticated()">
					<a th:href="@{/twitter}" th:if="${null != account}">
						<span th:if="${null != profileImage}">
							<img th:src="${profileImage}" height="32px"/>
						</span>
						<span th:if="${null == profileImage}">
							<span th:text="${account.firstName}"></span> <span th:text="${account.lastName}"></span>
						</span>
					</a>
					<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
					<button class="btn btn-default" type="submit">Sign Out</button>
				</form>
				<!--/.navbar-collapse -->
			</div>
		</nav>
	</div>
</body>
</html>